 
 
 .menu {
        display: inline-block;
        color: #999999;
         margin-left: 6em; 
        text-align: -webkit-match-parent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
        text-decoration: none; 
        list-style: none; 
        font-size: 14px; 
        font-family: 'akzidenz-grotesk_bqregular', Helvetica, Arial, sans-serif;
        font-weight: lighter; 
    }
    
    .menu :hover {
        color: #999999; 
    }

    .menu .active {
        color: white; 
    }
    
    .logocontainer {
        text-align: center; 
    }

    #logo { 
         text-align: center; 
         display: inline-block;
         margin-top: 10em; 
         color: #999999; 
         letter-spacing: 7px;  
    }